.container {
  margin: 1vh 1vw 0 1vw;
}

table {
  width: 100%;
}

.filters {
  display: grid;  
  grid-gap: 20px;  
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, 50px);  
  align-items: center;
  margin-bottom: 1vh;
}

.mat-button-base {
  margin-bottom: 1.4em;
}